<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="page-title">
        <h1>Orders <small>orders listing</small></h1>
    </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="../../index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">eCommerce</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Orders</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="note note-danger note-shadow">
            <p>
                NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only.
            </p>
        </div>
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-body">
                <div class="table-container">
<!--
Busca: Nome, CPF ou matricula
-->
                    <table class="table table-striped table-bordered table-hover" id="datatable_orders">
                        <thead>
                        <tr role="row" class="heading">
                            <th>Nome</th>
                            <th width="125">CPF</th>
                            <th width="125">Matrícula</th>
                            <th width="200">Situação do Relatório</th>
                            <th width="50">Eventos</th>
                            <th width="150">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each}}
                            <tr>
                                <td>
                                    {{servidor}}
                                </td>
                                <td>
                                    {{cpf}}
                                </td>
                                <td>
                                    {{matricula}}
                                </td>
                                <td>
                                    {{situacao}}
                                </td>
                                <td>
                                    {{eventosCount}}
                                </td>
                                <td>
                                    {{#link-to 'servidor' this class="btn btn-sm default green-stripe"}}Ver{{/link-to}}
                                </td>
                            </tr>
                        {{/each}}
                        <tr>
                            <td>
                                AGADA MARIA WERNER
                            </td>
                            <td>
                                848.732.999-34
                            </td>
                            <td>
                                95549
                            </td>
                            <td>
                                Em Processo de Revisão
                            </td>
                            <td class="text-center">
                                44
                            </td>
                            <td>
                                <a class="btn btn-sm default green-stripe" href="#">
                                    Ver
                                </a>
                                <a class="btn btn-sm default blue-stripe" href="#">
                                    Imprimir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>ALAIDE MARIA LEMES DO NASCIMENTO  	</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a class="btn btn-sm default green-stripe" href="#">
                                    Ver
                                </a>
                                <a class="btn btn-sm default blue-stripe" href="#">
                                    Imprimir
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
