<div class="login">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="bower_components/metronic/admin/layout4/img/logo-big.png" alt=""/>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" {{action 'login' on="submit"}}>
            <h3 class="form-title">Sign In</h3>
            {{#if errorMessage}}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span>{{errorMessage}}</span>
                </div>
            {{/if}}

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                {{input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" value=username}}
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                {{input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" value=password}}
            </div>
            <div class="form-actions">
                {{input type="submit" class="btn btn-success uppercase" value="Login"}}
                <!--label class="rememberme check">
                    <input type="checkbox" name="remember" value="1"/>Remember </label>
                <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                -->
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM
        <form class="forget-form" action="index.html" method="post">
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright">
        {{copyright}}
    </div>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function() {
            Login.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->

</div>
