
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Blank Page <small>blank page</small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Page Layouts</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Blank Page</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-blue-hoki uppercase">Person Info</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="datatable_orders" class="table table-striped table-bordered table-hover dataTable no-footer" aria-describedby="datatable_orders_info" role="grid">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td width="50%">
                                    <strong>Servidor:</strong> {{servidor}}
                                </td>
                                <td width="50%">
                                    <strong>Matrícula:</strong> {{matricula}}
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <strong>RG:</strong> {{rg}}
                                </td>
                                <td width="50%">
                                    <strong>CPF:</strong> {{cpf}}
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <strong>Mae:</strong> {{mae}}
                                </td>
                                <td width="50%">
                                    <strong>Pai:</strong> {{pai}}
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <strong>Data de nascimento:</strong> {{data_nascimento}}
                                </td>
                                <td width="50%">
                                    <strong>Estado civil:</strong> {{estado_civil}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-blue-hoki uppercase">Eventos</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        {{#each eventos}}
                        <!-- BEGIN Portlet PORTLET-->
                        <div class="portlet box blue-hoki">
                            <div class="portlet-title">
                                <div class="caption" style="text-transform: capitalize">
                                    {{evento}}
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Número do diário:</strong> {{numero_diario}}</div>
                                        <div class="col-md-4"><strong>Data do diário:</strong> {{data_diario}}</div>
                                        <div class="col-md-4"><strong>Página:</strong> {{pagina}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Data do efeito:</strong> {{data_efeito}}</div>
                                        <div class="col-md-4">
                                            {{#if data_fim}}
                                                <strong>Data do fim:</strong> {{data_fim}}
                                            {{/if}}
                                        </div>

                                        <div class="col-md-4"><strong>&nbsp;</strong></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Tipo de ato:</strong> {{tipo_ato}}</div>
                                        <div class="col-md-4"><strong>Número do ato:</strong> {{numero_ato}}</div>
                                        <div class="col-md-4"><strong>Data do ato:</strong> {{data_ato}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Vínculo funcional:</strong> {{vinculo_funcional}}</div>
                                        <div class="col-md-4"><strong>Ver evento</strong> </div>
                                        <div class="col-md-4"><strong>Tempo do vínculo:</strong> {{tempo_vinculo}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                        {{else}}
                            <p class="static-info">Nenhum evento.</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
